<%- include('layout', { body: ` <div class="content">
    <h1 style="font-weight: lighter;"><b>Thông tin về chúng tôi</b></h1><br>
    <div class="about">
        <p style="border-radius: 10px; border: 1px solid #5083C7; padding: 10px;">Đây là website chứa thư viện câu hỏi ChatGPT mẫu dành cho sinh viên Công nghệ giáo dục </p> <br>
        <p style="border-radius: 10px; border: 1px solid #5083C7; padding: 10px;">Chúng mình có nhiều mẫu câu hỏi theo chủ đề để giúp các bạn soạn giáo án và thực hiện các công việc liên quan đến công nghệ giáo dục với ChatGPT </p>
        <div class="contact-icons">
            <a href="https://www.facebook.com/nguyens.linhs.9421" target="_blank">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="mailto:phamlien1016@gmail.com">
                <i class="far fa-envelope"></i>
            </a>
        </div>
    </div>
    <script src="script.js"></script>` }) %>