<%- include('layout', { body: ` <div class="content">
    <h1>Thông tin về chúng tôi</h1><br>
    <div class="about">
        <p>AI cho công nghệ giáo dục là thư viện câu hỏi ChatGPT mẫu dành cho sinh viên Công nghệ giáo dục </p> <br>
        <p>Chúng tôi có nhiều lời nhắc để giúp bạn soạn giáo án và thực hiện các công việc liên quan đến công nghệ giáo dục với ChatGPT </p>
        <div class="contact-icons">
            <a href="https://www.facebook.com/nguyens.linhs.9421" target="_blank">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="mailto:phamlien1016@gmail.com">
                <i class="far fa-envelope"></i>
            </a>
        </div>
    </div>
    <script src="script.js"></script>` }) %>