<%- include('layout', { body: ` <div class="content">
    <div class="main-content">
        <div>
            <h2 style="color: #5083C7; font-weight: lighter;"><b>Thư viện câu hỏi về viết code</b></h2>
            <div class="row">
                <div class="col-6 col-md-4">
                    <div class="document-item">
                        <a href="/writecode">
                            <img src="images/code1.jpg">
                        </a><br>
                        <a href="/writecode">Viết code</a>
                    </div>
                </div>

                <div class="col-6 col-md-4">
                    <div class="document-item">
                        <a href="/bug">
                            <img style="height: 285px;" src="images/bug1.jpg">
                        </a><br>
                        <a href="/bug">Đánh giá và gỡ lỗi</a>
                    </div>
                </div>

                <div class="col-6 col-md-4">
                    <div class="document-item">
                        <a href="/explain">
                            <img src="images/explain2.webp">
                        </a><br>
                        <a href="/explain">Giải thích code</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6 col-md-4">
                    <div class="document-item">
                        <a href="/optimize">
                            <img src="images/optimize1.svg">
                        </a><br>
                        <a href="/optimize">Tối ưu code</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script>
        // Thêm lớp 'show' và kích hoạt hiệu ứng rõ dần cho tất cả các mục document-item
        window.addEventListener('load', function () {
            var items = document.querySelectorAll('.document-item');
            items.forEach(function (item) {
                item.classList.add('show');
            });
        });
    </script>

    <script src="script.js"></script>
    ` }) %>